:root {
    font-size: 62.5%;

    /* Paleta de cores */
    --bg-color: #2b2e34;          
    --text-color: #ffffff;        
    --input-bg: #3a3d44;          
    --border-color: #555a63;      
    --accent-color: #002b5b;    
    --accent-hover: #004080;      
}

body {
    font-size: 1.6rem;
    background: var(--bg-color);
    color: var(--text-color);
    font-family: 'Inter', system-ui, sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

#page {
    max-width: 120rem;
    margin-inline: auto;
    padding: 2rem;
}

header {
    padding-block: 2rem;
    text-align: center;
}

fieldset {
    padding: 1.5rem;
    margin-bottom: 3rem;
    border: 1px solid var(--border-color);
    border-radius: 1rem;
    background-color: #33363d;
}

label {
    display: block;
    margin-bottom: .5rem;
}

div {
    margin-bottom: 1rem;
}

input,
select,
textarea {
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid transparent;
    background: var(--input-bg);
    color: var(--text-color);
    font: inherit;
    width: 100%;
}

input:focus,
select:focus,
textarea:focus {
    outline: 2px solid var(--accent-color);
    background: #454850;
}

input:hover,
select:hover,
textarea:hover {
    border-color: var(--accent-color);
}

h2 {
    margin-block: 2rem;
}

button {
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    background: var(--accent-color);
    border: none;
    color: #FFF;
    border-radius: 1rem;
    font-weight: bold;
    font: inherit;
    transition: background 0.3s ease-in-out;
}

button:hover {
    background: var(--accent-hover);
    cursor: pointer;
}
